.paginate {

}
.paginate__list {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

.paginate__item {
    display: inline;

}
.next__link,
.previous__link,
.paginate__link {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #757575;
    text-decoration: none;
    background-color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.12);
    font-size: 14px;
}

.paginate__item--active .paginate__link,
.paginate__link:hover{
    z-index: 3;
    color: #fff;
    background-color: #303f9f;
    border-color: #303f9f;
    cursor: pointer;
}

.previous {

}

.next {

}

.disabled {

}

