.grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 0 auto;
    align-items: stretch;
}

.grid.grid--no-spacing {
    padding: 0;
}

.cell {
    box-sizing: border-box;
    margin: 0 8px;
    width: calc(33.33333% - 16px);
}

.cell--1-col {
    width: calc(8.33333% - 16px);
}

.grid--no-spacing > .cell--1-col {
    width: 8.33333%;
}

.cell--2-col {
    width: calc(16.66667% - 16px);
}

.grid--no-spacing > .cell--2-col {
    width: 16.66667%;
}

.cell--3-col {
    width: calc(25% - 16px);
}

.grid--no-spacing > .cell--3-col {
    width: 25%;
}

.cell--4-col {
    width: calc(33.33333% - 16px);
}

.grid--no-spacing > .cell--4-col {
    width: 33.33333%;
}

.cell--5-col {
    width: calc(41.66667% - 16px);
}

.grid--no-spacing > .cell--5-col {
    width: 41.66667%;
}

.cell--6-col {
    width: calc(50% - 16px);
}

.grid--no-spacing > .cell--6-col {
    width: 50%;
}

.cell--7-col {
    width: calc(58.33333% - 16px);
}

.grid--no-spacing > .cell--7-col {
    width: 58.33333%;
}

.cell--8-col {
    width: calc(66.66667% - 16px);
}

.grid--no-spacing > .cell--8-col {
    width: 66.66667%;
}

.cell--9-col {
    width: calc(75% - 16px);
}

.grid--no-spacing > .cell--9-col {
    width: 75%;
}

.cell--10-col {
    width: calc(83.33333% - 16px);
}

.grid--no-spacing > .cell--10-col {
    width: 83.33333%;
}

.cell--11-col {
    width: calc(91.66667% - 16px);
}

.grid--no-spacing > .cell--11-col {
    width: 91.66667%;
}

.cell--12-col {
    width: calc(100% - 16px);
}

.grid--no-spacing > .cell--12-col {
    width: 100%;
}