.textfield {
    width: 100%;
    max-width: inherit;

    position: relative;
    display: inline-block;
    box-sizing: border-box;

    font-size: 16px;

    margin: 0;
    padding: 20px 0;
}

.textfield__input {
    display: block;
    font-size: 16px;

    margin: 0;
    padding: 4px 0;
    width: 100%;

    text-align: left;
    outline: none;

    background: 0 0;

    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.textfield__label {
    width: 100%;

    top: 24px;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
    position: absolute;
    display: block;

    overflow: hidden;

    color: rgba(0,0,0,.26);
    font-size: 16px;

    white-space: nowrap;
    text-align: left;
}

.textfield__label:after,
.textfield__no-floating:after{
    background-color: #3f51b5;

    content: '';
    height: 2px;

    left: 45%;
    bottom: 20px;
    position: absolute;

    visibility: hidden;
    width: 10px;

    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.textfield--floating-label .textfield__label {
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.textfield--floating-label.is-focused .textfield__label {
    color: #3f51b5;
    font-size: 12px;
    top: 4px;
    visibility: visible;
}

.textfield.is-focused .textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%;
}

.textfield.is-dirty .textfield__label {
    visibility: hidden;
}

.textfield--floating-label.is-dirty .textfield__label {
    color: #3f51b5;
    font-size: 12px;
    top: 4px;
    visibility: visible;
}

.textfield__error {
    color: #d50000;

    position: absolute;
    font-size: 12px;
    margin-top: 3px;

    visibility: hidden;
}

.textfield.is-invalid .textfield__input {
    border-color: #d50000;
}

.textfield--floating-label.is-invalid .textfield__label {
    color: #d50000;
    font-size: 12px;
}

.textfield.is-invalid .textfield__label:after {
    background-color: #d50000;
}

.textfield.is-invalid .textfield__error {
    visibility: visible;
}