.collapse {
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    padding: 16px;

    box-shadow: 0 1px 6px rgba(0,0,0,0.12),
                0 1px 4px rgba(0,0,0,0.12);

    border-radius: 2px;
    z-index: 1;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.title-wrapper {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.title-block {
    display: inline-block;
    vertical-align: top;
}

.title {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.subtitle {
    color: rgba(0, 0, 0, 0.54);
    display: block;
    font-size: 14px;
    margin-top: 4px;
}

.body {
    padding-top: 12px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87)
}

.hide {
    display: none;
}